/EstudandoProva/nbproject/private/
/ProvaOO2/nbproject/private/
/ProvaOO2/build/
/Prova2_Projeto/build/
/ExemploAdapter/nbproject/private/
/ExemploAdapter/build/
/ExemploAdapterTomada/nbproject/private/
/ExemploAdapterTomada/build/
/testeAuxilio/nbproject/private/
/build/
/nbproject/private/